<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}
    <main>
        {% if restaurant %}
            <div class="page-section">
                <div class="card">
                    <h2>{{ restaurant.get('name') }}</h2>
                    {% if restaurant.get('image_url') %}
                        <img src="{{ restaurant.get('image_url') }}" alt="{{ restaurant.get('name') }} image">
                    {% endif %}
                    <p class="address">{{ restaurant.get('display_address', {})}}</p>
                    <div class="details">
                        {% if restaurant.get('price') %}
                            <div class="segment price">Price: {{ restaurant.get('price') }}</div>
                        {% else %}
                            <div class="segment price">Price: None</div>
                        {% endif %}
                        <div class="segment rating">Rating: {{ restaurant.get('rating') }} <i class="fas fa-star"></i></div>
                        <div class="segment review-count"># Reviews: {{ restaurant.get('review_count') }} reviews</div>
                    </div>
                </div>
            </div>
        {% else %}
            <p>No restaurants found.</p>
        {% endif %}
    </main>
</body>
</html>

