/*Head Stuff*/

body{
    background-color: bisque;
}

/* Nav Bar Stuff */

.nav-bar {
    background-color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
}
  
.nav-left a {
    text-decoration: none;
    color: rgb(90, 43, 22);
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
  
.nav-right {
    display:inline-flex;
    align-items: center;
}
  
.username {
    font-size: 20px;
}
  
.logout {
    padding: 10px;
    font-size: 10px;
    cursor: pointer;
}

/* Recommendations Panel Stuff */

@media only screen and (max-width: 600px) {
    .hide-mobile {
        display:none;
    }
}

.right-side{
    float: right;
    position: fixed;
}

.recommendations-panel {
    margin-top: 100px;
    float:right;
    width: 20%;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-right: 100px;
    width: 20%;
}

.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.username {
    margin-left: 10px;
    font-size: 20px;
}

.suggestions-title {
    font-size: 15px;
    margin-bottom: 20px;
}
  
.suggested-accounts {
    display: flex;
    flex-wrap: wrap;
}
  
.account {
    display: flex;
    align-items: center;
    margin-right: 25px;
}
  
.account-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 20px;
    object-fit: contain;
}
  
.account-info {
    display: flex;
    flex-direction: column;
}
  
.account-username {
    font-size: 20px;
    margin-bottom: 5px;
}
  
.suggested-for-you {
    font-size: 15px;
    color: rgb(27, 100, 104);
}
  
.follow-link {
    color: blue;
    text-decoration: none;
    font-size: 15px;
    margin-top: 5px;
    margin-right: 5px;
}

/* Story Panels Stuff */

.image-container{
    background-color: aliceblue;
}

.story-panel{
    height: 50%;
    background-position: center;
    display: flex;
    width: 50%;
    float: left;
    justify-content: left;
    margin-top: 100px;    
}

.story {
    justify-content: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.story-pic {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.storyname {
    text-align: center;
    text-decoration: none;
    display:block;
    font-size: 15px;
}

/* Card Stuff */  

.card{
    width: 70%;
}
