/*Head Stuff*/

body{
    background-color: #f8f8f8f8;
    margin: 0;
}

/* Nav Bar Stuff */

.nav-bar {
    background-color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    font-family: 'Comfortaa', cursive;
}

.nav-left a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
    margin: 10px;
}

.nav-right {
    display:inline-flex;
    align-items: center;
}

.username-top {
    padding: 10px;
    font-size: 20px;
}

.logout {
    padding: 10px;
    font-size: 10px;
    cursor: pointer;
}

/* Recommendations Panel Stuff */

.recommendations-panel {
    margin-top: 20px;
    left: 60vw;
    width: 40vw;
    padding: 5% auto;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

.user-profile {
    font-family: 'Comfortaa', cursive;
    display: flex;
    align-items: center;
    margin-right: 100px;
    Width: 600px
}

.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.user-pic {
    display: block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 30px;
}

.username {
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 10px;
    font-size: 30px;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

.username-rec {
    font-size: 50px;
}

.suggestions-title {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: grey;
}

.suggested-accounts {
    display: flex;
    flex-direction: column;

}

.account {
    display: flex;
    margin-right: 25px;
}

.account-pic {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-top: 5px;
    margin-right: 20px;
    object-fit:fill;
}

.account-info {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.account-username {
    font-size: 35px;
    margin-bottom: 5px;
}

.suggested-for-you {
    font-size: 15px;
    color: grey;
    font-weight: bold;
}

.follow-link {
    display: flex;
    justify-content: flex-end;
    color: blue;
    padding-left: 20px;
    text-decoration: none;
    font-size: 20px;
    margin-top: 5px;
    width: 200px;
}

/* Story Panels Stuff */

.story-panel{
    display: flex;
    justify-content: left;
    margin-right: 40vw;
    margin-left: 5vw;
    margin-top: 80px;
    background-color: white;
    margin-right: 30% auto;
    padding: 10px;
}

.story {
    justify-content: left;
    margin: 5px;
    overflow: hidden;
}

.story-pic {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border-color: grey;
    border-width: 100px;
}

.storyname {
    text-align: center;
    text-decoration: none;
    display:block;
    font-size: 15px;
}

/* Card Stuff */  

.card-block{
    display: flex;
    flex-direction: column;
}

.card {
    margin-right: 40vw;
    margin-left: 5vw;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card-header, .username{
    font-family: 'Comfortaa', cursive;
}

.replyname {
    font-weight: bold;
}

.post-pic {
    width: 100%;
    margin-bottom: 20px;
}

.card-actions {
    display: flex;
    font-size: 30px;
    height: 5px;
    margin-left: 20px;
}

.heart, .comment, .plane{
    margin-right: 40px;
}

.bookmark{
    margin-left: auto;
    margin-right: 20px;

}

.liked_post{
    color: red;
}

.post-link{
    margin-left: auto;
    color: #551A8B;
}

.card-likes {
    font-weight: bold;
    margin-top: 1vw;
    font-size: larger;
}

.dots{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 25px; 

}

.card-caption {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.replyname, .caption-text {
    margin-right: 10px;
}

.card-comments {
    margin-bottom: 20px;
}

.card-comment {
    display: flex;
    margin-bottom: 10px;
}

.comment-text{
    font-weight: normal;   
}

.replyname, .comment-text {
    font-weight: normal;    
}

.card-add-comment {
    display: flex;
    align-items: center;
    padding: 20px;
    border-top: 1px solid;
    border-color: grey;
    font-size: 20px;    
    text-decoration: none;
    font-weight: bolder;
}

.smile{
    font-size: 30px;
}

.card-add-comment input {
    width: 80%;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.card-likes{
    margin-top: 30px;
    padding: 10px;

}

.card-caption .username{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

.card-comments .username{
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

input::placeholder {
    font: 20px/3 sans-serif;    
}

.all-comments{
    flex-direction: vertical;
    /* width: 35%; */
    max-height: calc(85%);
    overflow-y: auto;
    padding: 20px;
    height: 100%;
}

.icon-properties{
    color: black;
}

.days-ago2{
    font-weight: lighter;
    margin-top: 5px;
    color: #888;
    font-size: 15px;
}

.days-ago{
    display: flex;
    flex-direction: column;
}

.comment_username2{
    font-weight: bold;
    margin: 10px;
    
}

.comment_username{
    font-weight: bold;
}

.view-all-comments-btn{
    margin-left: 15px;
    margin-bottom: 5px;
}

#view-all-comments-btn{
    text-decoration: underline;
    color: #551A8B;
    margin-left: 15px;
    margin-bottom: 5px;
}

.comment-user-pic{
    border-radius: 50%;
    padding-right: 5px;
    width: 50px;
    height: 50px;
}

.heart-side{
    margin-left: auto;
    display: flex;
    align-content: flex-end;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
}

/* Modal Stuff */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.6);
    overflow: hidden;
    flex: center;
    align-items: center;
    justify-content: center;
    outline: none;
}

.modal-content {
    background-color: #fefefe;
    margin: 4% 3%;
    border: 1px solid #888;
    width: 90vw;
    height: 85vh;
    display: flex;
    overflow: hidden;
    outline: none;
    border-radius: 10px;
}

.modal-image-div{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.modal-image{
    height: 100%;
    width: 100%;
}

.modal_poster_info_and_comments{
    flex-direction: vertical;
    width: 35%;
}

.modal_poster_info{
    display: flex;
    flex-direction: horizontal;
    border-bottom: solid;
    border-color: gray;
    border-bottom-width: 1px;
}

.modal_poster_info, .username{
    display: flex;
    align-items: center;

}

.close {
    color: #ffffff;
    float: right;
    font-size: 75px;
    font-weight: bold;
    padding-right: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

a:link { 
    color: black;
    text-decoration: none; 
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
}

/* Mobile Stuff */

@media only screen and (max-width: 800px) {
    .modal-image-div{
        display: none;
    }
    .modal-image{
        display: none;
    }
    .modal_poster_info_and_comments{
        flex-direction: vertical;
        width: 100%;
    }
    .hide-mobile {
        display:none;
    }
    .card{
        margin-right: 10px;
        margin-left: 10px;
    }
    .story-panel{
        margin-right: 10px;
        margin-left: 10px;
    }
    .card-likes{
        margin-top: 20px;
        padding: 10px;
        font-size: 15px;
    }
    .card-actions{
        font-size: 25px;
        margin-left: 10px;
    }
    .card-caption{
        margin-top: 0px;
    }

}